@media (max-width: 600px) {
  .left {
    width: 100%;
  }
}

.bg-style {
    background: rgb(83, 41, 201);
}

@media (max-width: 600px) {
  .input-style {
    width: 100%;
  }
}

.input-style {
  float:right; 
  width:50%; 
  border-radius: 25px;
  background-color: white;
}

